html {
  --blue-cl: #1f373d;
  --blue-light-cl: #919eb1;
  --yellow-cl: #ffcc01;
  --yellow-hover-cl: #ffe16a;
  --white-cl: #ffff;
  --grey-cl: #f6f5f4;
  --time-transition: 0.4s;
  --height-header: 80px;
  --fs-h1: 62px;
  --fs-h2: 40px;
  --fs-h3: 25px;
}
body {
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  line-height: 30px;
  font-family: mr;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  height: var(--height-header);
}
.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__menu {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header .header__menu li a {
  text-decoration: none;
  line-height: normal;
  color: var(--blue-cl);
  padding: 12px 16px;
}

.header__logo a {
  height: 100%;
  display: flex;
  transition: var(--time-transition);
  --webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
  align-items: center;
}

.header .container .header__menu li a:hover {
  color: var(--yellow-cl);
}

.header__buttons {
  display: flex;
  align-items: center;
}
.header__buttons .btn {
  background: none;
}
.header__buttons .btn:hover {
  background: none;
  color: var(--yellow-cl);
}

.header__buttons a {
  line-height: normal;
  text-decoration: none;
  height: 40px;
  color: var(--blue-cl);
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow-cl);
  transition: var(--time-transition);
  --webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}

.header__buttons a:hover {
  background: var(--yellow-hover-cl);
}

/* Section Hero */
.shero {
  height: calc(100vh - var(--height-header));
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: 600px;
}

.shero .container {
  z-index: 2;
  height: 100%;
}

.shero-img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shero .heading {
  font-size: var(--fs-h1);
  font-weight: bold;
  color: var(--blue-cl);
  line-height: 78px;
  font-family: mb;
  letter-spacing: -0.4px;
  margin-bottom: 41px;
}

.shero .form-search {
  display: flex;
  height: 70px;
  align-items: center;
  position: relative;
}
.shero-search {
  padding-top: 133px;
}
.shero .form-search .icon-search {
  position: absolute;
  top: 50%;
  left: 27px;
  transform: translateY(-50%);
}
.shero .form-search .search-input {
  height: 100%;
  width: 366px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: 0;
  border: 0;
  font-family: mr;
  color: var(--blue-light-cl);
  padding-left: 55px;
  font-size: 15px;
}

.shero .btn-search {
  text-decoration: none;
  background: var(--yellow-cl);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 35px;
  font-size: 15px;
  color: var(--blue-cl);
  font-family: msb;
  cursor: pointer;
  transition: var(--time-transition);
  --webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}

.shero .btn-search:hover {
  background: var(--yellow-hover-cl);
}

.shero-contacts-right {
  position: absolute;
  left: 0;
  left: -18px;
  bottom: 137px;
  transform: rotate(-90deg);
}
.shero-contacts .shero-contacts-right img {
  display: flex;
  transform: rotate(90deg);
  margin: 0;
  left: -35px;
  position: absolute;
}

.shero-img img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.scrolldown {
  color: #818181;
}

.shero .shero-contacts-left {
  position: absolute;
  bottom: 0;
  right: 0px;
  max-width: 589px;
  display: flex;
  height: 80px;
  align-items: center;
  background: var(--yellow-cl);
  padding-left: 33px;
}

.shero .shero-contacts-left .link-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.shero .shero-contacts-left .link-contact img {
  display: flex;
  cursor: pointer;
  margin-right: 30px;
}
.shero .shero-contacts-left .link-contact:first-child {
  padding-right: 33px;
}
.shero .shero-contacts-left .link-contact:last-child {
  padding-left: 33px;
}

.shero .shero-contacts-left .link-contact a {
  text-decoration: none;
  height: 100%;
  font-size: 18px;
  color: var(--blue-cl);
  font-family: msb;
}

.shero .shero-contacts-left .link-contact a:hover {
  opacity: 0.6;
  transition: var(--time-transition);
  --webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}

.scompany {
  height: 578px;
  width: 100%;
  position: relative;
}

.scompany .container {
  height: 578px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scompany .content {
  width: 667px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 137px;
  padding-bottom: 50px;
}

.scompany .boxs .box {
  background-color: #f6f5f4;
  display: flex;
  height: 200px;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scompany .boxs {
  width: 445px;
  height: fit-content;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto;
}
.scompany .boxs .number {
  font-family: msb;
  font-size: 40px;
  color: var(--yellow-cl);
}
.scompany .h2 {
  color: #1f373d;
  font-family: mb;
  font-size: 36px;
  width: 314px;
  line-height: 40px;
  padding-bottom: 51px;
}

.scompany .des-box {
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 33px;
  align-items: center;
}

.scompany .boxs .text {
  font-family: msb;
  font-size: 14px;
  padding-top: 9px;
}

.sapartments {
  height: 1457px;
  background: var(--grey-cl);
}
.sapartments .h2 {
  color: #1f373d;
  font-family: mb;
  font-size: 36px;
  width: 458px;
  line-height: 40px;
  padding-bottom: 58px;
  padding-top: 76px;
  padding-left: 6px;
}
.sapartments .apartments-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 35px;
}
.sapartments .apartments-container .appartment-container {
  background: var(--white-cl);
  width: fit-content;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.h3 {
  font-family: msb;
  font-size: 15px;
}

.price {
  color: var(--yellow-cl);
  font-size: 18px;
  font-family: msb;
}

.sapartments .apartments-container .appartment-infobox {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 41px;
}
.sapartments .apartments-container .infobox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 12px;
}
.sapartments .apartments-container .icon-container {
  display: flex;
  gap: 25px;
}
.sapartments .apartments-container .icon-container span {
  color: #c2c8d2;
}

.sapartments .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 192px;
}
.sapartments .bottom a {
  height: 72px;
  width: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--white-cl);
}
.sapartments .bottom a:hover {
  background: var(--yellow-hover-cl);
  color: white;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}
.showitworks .textbox .h2 {
  color: #1f373d;
  font-family: mb;
  font-size: 36px;
  width: 458px;
  line-height: 40px;
  padding-top: 87px;
}

.showitworks .textbox .des {
  color: #1f373d;
  width: 360px;
  padding-top: 24px;
}
.showitworks .howitwork-container {
  height: 550px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.showitworks .howitwork-container .work-info {
  height: fit-content;
  background: var(--white-cl);
  cursor: pointer;
  width: 352px;
  color: #1f373d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.showitworks .howitwork-container .work-info:hover {
  background: var(--yellow-cl);
  color: var(--white-cl);
}
.showitworks .howitwork-container .work-info:hover .link {
  border-bottom: var(--white-cl) solid;
}
.showitworks .howitwork-container .h1 {
  font-size: 100px;
  font-family: mb;
  padding-left: 36px;
  padding-top: 60px;
}
.showitworks .howitwork-container .h2 {
  font-size: 18px;
  font-family: mb;
  padding-left: 42px;
  padding-top: 55px;
}
.showitworks .howitwork-container .howitwork-des {
  width: 213px;
  padding-left: 72px;
  padding-bottom: 70px;
}
.showitworks .howitwork-container .des {
  font-size: 13px;
  font-family: mr;
  padding-top: 10px;
}

.showitworks .howitwork-container .link {
  width: fit-content;
  padding-top: 10px;
  border-bottom: #1f373d solid;
  font-family: mb;
  pointer-events: inherit;
}
.sservices .textbox .h2 {
  padding-top: 0;
}
.sservices .textbox .des {
  width: 366px;
  padding-top: 20px;
}

.services-container {
  display: flex;
  padding-bottom: 70px;
  padding-top: 40px;
}

.services-container .services-right {
  color: #1f373d;
  width: 443px;
  padding-left: 130px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.services-container .services-right .h2 {
  padding-bottom: 25px;
  font-size: 25px;
  font-family: msb;
}

.sservices .textbox .des {
  font-size: 13px;
  font-family: mr;
}

.sagents {
  height: 852px;
  background-color: #f6f5f4;
}
.sagents .h2 {
  font-size: 40px;
  font-family: mb;
  padding-top: 85px;
}

.sagents .agents-container {
  display: flex;
}
